# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/

# Archivos temporales
*.log
*.tmp

# VS Code
.vscode/

# PyCharm
.idea/

# Build de Kivy/KivyMD
bin/
build/

# Archivos del sistema
.DS_Store
Thumbs.db
